
.wrapper {
    margin: 0 1rem 0;
}

.fade-out {
    opacity: 0;

}


.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.card__container {
    border-radius: 4px;
    /* box-shadow: 0 0 3px 1px rgba(0,0,0, .15); */
    /* box-shadow: 8px 9px 13px -6px rgba(0,0,0, .25); */
    /* box-shadow: 2px 3px 9px 1px rgba(0,0,0, .1),
                2px 16px 13px -16px rgba(0,0,0, .15); */
    box-shadow: 1px 3px 9px 2px rgba(0,0,0, .15),
                2px 16px 13px -16px rgba(0,0,0, .15);
    box-sizing: border-box;
    margin-bottom: 2rem;
    /* padding: 1rem; */
    overflow: hidden;
    text-align: center;
}

    .card__photo {
        height: 165px;
        background: #ccc;
    }
        .card__photo--fractl {
            background: url("../img/frontend-webdev-assessment.png") no-repeat;
            background-size: cover;
            box-shadow: inset 0 0 1px 1px rgba(0,0,0, .05);
        }

        .card__photo--html5up {
            background: url("../img/html5up-alpha-screenshot.png") no-repeat;
            background-size: cover;
            box-shadow: inset 0 0 1px 1px rgba(0,0,0, .05);
        }
        .card__photo--google {
            background: url("../img/google-homepage-screenshot.png") no-repeat;
            background-position: 50% 0%;
            background-size: cover;
            box-shadow: inset 0 0 1px 1px rgba(0,0,0, .05);
        }
        .card__photo--kyokos {
            background: url("../img/kyokos-restaurant-screenshot.png") no-repeat;
            background-position: 0% 42%;
            background-size: cover;
        }
        .card__photo--emtribute {
            background: url("../img/emtribute-screenshot.png") no-repeat;
            background-size: cover;
        }

    .card__title {
        color: #212121;
        font-size: 1.1rem;
        padding: 0 1rem 0;
        margin-bottom: 0;
    }

    .card__info--desktop {
        display: none;
    }

    .card__info--mobile {
        padding: 0 1rem 1.8rem;
        color: #525f7f;
    }

        .card__description {
            line-height: 1.7;
            margin-bottom: 1.5rem;
        }

        .d-link {
            color: #2196F3;
            border-bottom: 1px dotted;
            transition: all .3s;
        }

        .card__technologies {
            list-style: none;
            /* margin-bottom: 1.8rem; */
            margin-left: auto;
            margin-right: auto;
            padding: 0;
            width: 80%;
        }
            .card__skill {
                color: #525f7f;
                border-radius: 3px;
                box-shadow: 0 0 0 2px #92eac0;
                display: inline-block;
                font-size: .9rem;
                padding: .25rem .5rem;

            }
            .card__skill:not(:last-child) {
                margin-right: .75rem;
                margin-bottom: .75rem;

            }

        .card__options {

        }
            .card__link {
                border-radius: 5px;
                box-shadow: 0 9px 13px -6px rgba(0,0,0, .25);
                color: #fff;
                display: inline-block;
                background: #2196F3;
                padding: .5rem .75rem;
                transition: all .5s;
                text-transform: uppercase;

            }
            .card__link:not(:last-child) {
                /* margin-right: .7rem; */
                margin-bottom: .9rem;
            }


.logo {
    display: none;
}

.nav {
    box-sizing: border-box;
    padding: 1rem;
    max-width: 1644px;
    margin: auto;
}


.contact {
    float: right;
    margin-right: .5rem;
}
    .contact__link {
        color: #c0c0c0;
        cursor: pointer;
        font-size: 1.5rem;
        margin-left: 1rem;
        transition: opacity .5s;
    }


.header {
    text-align: center;
    position: relative;
}

    .headline {
        color: #212121;
        font-size: 2.9rem;
        margin-bottom: 0;
    }
        /* .headline::after {
            content: '';
            border-bottom: 9px solid #2196F3;
            display: block;
            margin: 6px auto auto;
            width: 103px;
        } */

        .header::after {
            content: '';
            border-bottom: 9px solid #2196F3;
            display: block;
            margin: 6px calc(50% - 51.5px) auto;
            position: absolute;
            top: 47%;
            width: 103px;
        }

        .headline__span {
            font-weight: 400;
        }

    .tagline {
        color: #5c5c5c;
        font-family: 'Roboto', sans-serif;
        font-size: 1.75rem;
        font-weight: 300;
        margin-top: 2rem;
    }

.portrait {
    position: relative;
    margin: 3rem auto 4rem;
}
    .portrait__photo {
        border-radius: 50%;
        width: 210px;
        height: 210px;
        background-image: url("../img/profile-pic.jpg");
        background-size: cover;
        background-position: center;
        margin: auto;
        overflow: hidden;
    }
    .portrait__overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        /* background: rgba(0,0,0, .01); */
    }

    .intro {
        color: #5c5c5c;
        font-family: 'Roboto', sans-serif;
        font-size: 1.75rem;
        font-weight: 300;
    }



/* base ============================================================*/

html {
    font-size: 16px;
}

body {
    font: 1em/1.5 'Open Sans', sans-serif;
    background: #fff;
    opacity: 1;
    transition: opacity 1.5s linear;
}



a {
    text-decoration: none;
}

/* ul {
    padding: 0;
}

li {
    list-style: none;
} */

img {
    width: 100%;
}

footer {
    text-align: center;
}





/* layout ============================================================*/

.row {
    /* margin: auto; */
    /* max-width: 980px; */

}





/* module ============================================================*/






/* state ============================================================*/

.contact__link:hover, .contact__link:active {
    opacity: .5;
}

.card__link:hover, .card__link:active {
    background-color: #71A1ED;
    box-shadow: 0 9px 14px -6px rgba(0,0,0, .20), 1px 14px 21px -8px rgba(0,0,0,.13);
    transform: translateY(-3px);
}

.d-link:hover {
    border-bottom-color: transparent;
}


/* media queries */
@media screen and (min-width: 337px) {

    /* card links are stacked */
    .card__link:not(:last-child) {
        margin: 0 .7rem .9rem 0;
    }
}

@media screen and (min-width: 349px) {

    /* card links side-by-side */
    .card__link:not(:last-child) {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 540px) {
    .card__photo--kyokos {
        background-position: 0% 36%;
        background-size: 100%;
    }
}

/* two column layout */
@media screen and (min-width: 720px) {

    .wrapper {
        margin-bottom: 2rem;
        max-width: 980px;
    }

    .headline {
        font-size: 6rem;
    }
        /* .headline::after {
            width: 119px;
        } */
        .header::after {
            top: 62.5%;
            margin: 6px calc(50% - 59.5px) auto;
            width: 119px;
        }
    .tagline {
        margin-top: 2rem;
    }

    .card__container {
        float: left;
        width: 48%;
    }

    /* top left and bottom left cards */
    .card__container:nth-of-type(2n + 1) {
        margin-right: 4%;
    }

    /* top two cards */
    .card__container:nth-of-type(-n + 2) {
        margin-bottom: 4%;
    }
}

@media screen and (min-width: 860px) {
    .wrapper {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

@media screen and (min-width: 1060px) {
    .wrapper {
        margin-left: auto;
        margin-right: auto;
    }

    .card__container {
        width: 47%;
    }

    /* top left and bottom left cards */
    .card__container:nth-of-type(2n + 1) {
        margin-right: 6%;
    }

    /* top four cards */
    .card__container:nth-of-type(-n + 4) {
        margin-bottom: 6%;
    }
}




/* theme ============================================================*/
