/* base elements ============================================================*/
body {
    background: #fff;
    font: 16px/1.5 sans-serif;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}


/* layout ============================================================*/
.wrapper {
    min-height: calc(100vh - (1.25em + 20px));
}

.search-area {
    width: 664px;
    margin: auto;
    text-align: center;
}


.site-footer  {
    background: #f1f1f1;
    box-sizing: border-box;
    border-top: 1px solid rgba(0,0,0, 0.08);
    padding: .625rem 0; /* 10px / 16px */

}
    .site-footer ul {
        padding: 0;
        margin: 0;
    }
    .footer-col-a {
        float: left;
    }
        .footer-col-a li {
            padding-left: 30px;
        }
    .footer-col-b {
        float: right;
    }
        .footer-col-b li {
            padding-right: 30px;
        }
    [class*="footer-col"] li {
        display: inline-block;
    }



/* modules ============================================================*/
.menu__popout {
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.1);
    position: absolute;
    display: none;


    right: 1.8rem;
    top: 4rem;


    z-index: 50;
}

    .menu__popout::before,
    .menu__popout::after {
        bottom: 100%;
        left: 82.5%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        /*pointer-events: none;*/
    }

    .menu__popout::after {
        border-bottom-color: #eee;
        border-width: 9px;
        margin-left: -9px;

    }
    .menu__popout::before {
        border-bottom-color: #ccc;
        border-width: 10px;
        margin-left: -10px;

    }





    .menu__popout--white::after {
        border-bottom-color: #fff;
    }



/* page elements ============================================================*/
.menu {
    text-align: right;
    padding-left: 0;
    margin: 0 40px 16px 25px;
    padding-top: 16px;
}
    .menu__item {
        display: inline-block;
        margin-left: 15px;
        vertical-align: middle;
    }
    .menu .g-apps {
        display: inline-block;
        cursor: pointer;
        width: 30px;
        height: 30px;
        text-align: center;
    }
    .menu .fa-th {
        font-size: 1.25em; /* 20px / 16px */
        line-height: 1.5;
        pointer-events: none;
    }
    .menu .bell {
        cursor: pointer;
        display: inline-block;
        width: 30px;
        height: 30px;
        position: relative;
    }
        .menu .fa-bell {
            color: #fff;
            font-size: .625em; /* 10px / 16px */
            pointer-events: none;
            position: absolute;
            left: 11px;
            top: 8px;
        }
        .menu .bell::before {
            content: "";
            background: #666;
            border-radius: 50%;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 4px 4px 0 0;
        }

        /* google apps drop-down */
        .gapps {
            background: #fff;



        }

        .gapps::before,
        .gapps::after {
            left: 64%
        }

        .gapps__grid {
            padding: 28px 28px;
            margin-bottom: 0;
        }

        .gapps__row {
            display: block;
            margin-bottom: 10px;
        }

        .gapps__item {
            display: inline-block;
            text-align: center;
        }

        .gapps__link {
            display: inline-block;
            width: 84px;
            height: 86px;
        }

        .gapps__name {
            color: #404040;
            font-size: .83rem;
            margin: -5px 0 0 0;
        }

        .gapps__reveal {
            color: #737373;
            background: #f5f5f5;
            display: block;
            font-size: .83rem;
            padding: 10px 0;
            text-align: center;



        }

        .gapps__link:hover {
            /*border: 1px solid #e5e5e5;*/
            box-shadow: 0 0 0 1px #e5e5e5;
        }



        /* google apps drop-down image backgrounds
           measured in increments of 69px on main background image
        */
        .span-bg {
            background: url('../img/p1_010136a6.png') no-repeat;
            display: inline-block;
            height: 64px;
            width: 64px;
        }
        .span-bg--gplus {
            background-position: left top -1380px;
        }
        .span-bg--gsearch {
            background-position: left top -69px;
        }
        .span-bg--youtube {
            background-position: left top -1518px;
        }
        .span-bg--gplay {
            background-position: left top -1863px;
        }
        .span-bg--gnews {
            background-position: left top -414px;
        }
        .span-bg--gmail {
            background-position: left top -759px;
        }
        .span-bg--gmaps {
            background-position: left top -1794px;
        }
        .span-bg--gdrive {
            background-position: left top -1104px;
        }
        .span-bg--gcalendar {
            background-position: left top -1587px;
        }
        .span-bg--gaccount {
            background-position: left top -966px;
        }
        .span-bg--gtranslate {
            background-position: left top -690px;
        }
        .span-bg--gphotos {
            background-position: left top -621px;
        }

        /* google notifications drop-down */
        .gnotify {
            background: #eee;
            border-bottom: none;

            /*right: 2em;
            top: 3.8em;
            z-index: 50;*/

        }
        .gnotify::before,
        .gnotiy::after {
            left: 82.5%;
        }
            .gnotify__logo {
                color: #999;
                font-size: 1.5em;
                margin-top: .5rem;
                margin-bottom: 0;
                text-align: center;
            }
            .gnotify__settings {
                cursor: pointer;
                color: rgba(0,0,0, 0.54);
                display: inline-block;
                font-size: 1.4rem;
                position: absolute;
                left: 1rem;
                top: .5rem;
            }
            .gnotify__settings .fa-cog {

            }
            .gnotify__list {
                color: #aaa;
                font-size: .9em;
                padding: 7.7rem 8.7rem;
            }
            .view-all {
                background: #f3f3f3;
                border: 1px solid #ccc;
                color: rgba(0,0,0, .54);
                font-size: .8em;
                text-align: center;
                overflow: hidden;

                position: absolute;
                bottom: -28px;
                transition: height .25s;
                width: 100%;
                height: 27px;
                border-top: 1px solid #ddd;
                margin-left: -1px;
            }

            .view-all:hover {
                height: 73px;
            }
            .view-all:hover > .view-all__container {
                top: -20px;
            }

            .view-all__container {
                position: relative;
            }
            .view-all p {
                margin: 0 0 .4rem 0;
                /*margin-top: 0;
                margin-bottom: .3rem;*/
            }
            .view-all .fa-angle-up {
                font-size: 1.5rem;
                margin-bottom: 6px;
            }

    .google-acct {
        cursor: pointer;
    }

    .google-acct,
    .google-acct::before {
        display: inline-block;
        color: #fff;
    }
    .menu .google-acct::before {
        content: "";
        height: 32px;
        width: 32px;
        background: #ee6b08;
        border-radius: 100%;
        margin-right: -21px;
        vertical-align: middle;
    }

    .gaccount {
        text-align: left;
        font-size: 13px;
        /*right: 2rem;
        top: 3.8rem;


        z-index: 50;*/
    }
    .gaccount::before,
    .gaccount::after {
        left: 95%;
    }

        .gaccount__details {
            background: #fff;
            padding: 15px 20px 20px 20px;
        }
        .gaccount__profile-pic,
        .gaccount__profile-info {
            display: inline-block;
        }
        .gaccount__profile-pic {
            background: #ee6b08;
            border-radius: 50%;
            cursor: pointer;
            display: inline-block;
            width: 96px;
            height: 96px;
            margin-bottom: -10px;
            margin-right: 15px;
            overflow: auto;
            position: relative;
        }
        .gaccount__profile-pic::before {
            content: 'B';
            display: inline-block;
            font-size: 3.2rem;
            color: #fff;
            position: absolute;
            left: 34%;
            top: 8px;

        }
        .gaccount__profile-info {
            box-sizing: border-box;
            /*padding: 10px;*/
        }
        .change-pic {
            background: #8B4513;
            color: #fff;
            font-size: .65rem;
            padding: 5px 0 6px 0;
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
            width: 100%;
        }


        .gaccount__name {
            font-weight: bold;


        }
        .gaccount__email {
            color: #666;
        }

        .gaccount__name, .gaccount__email {
            font-size: .83rem;
            margin: 0;
        }
        .gaccount__links {
            color: #ccc;
            margin-top: 5px;

        }
            .gaccount__links a {
                color: #36c;
            }
            .gaccount__links a:hover {
                border-bottom: 1px solid #36c;
            }
            .gaccount__links a:first-child {
                margin-right: 10px;
            }
            .gaccount__links a:last-child {
                margin-left: 10px;
            }

        .gaccount__myaccount {
            background: #4d90fe;
            border-radius: 2px;
            color: #fff;
            font-weight: bold;
            display: inline-block;
            margin-top: 14px;
            padding: 5px 10px;
        }
        .gaccount__controls {
            background: #f5f5f5;
            border-top: 1px solid #c6c6c6;
            padding: 12px 20px;
        }
        .signout {
            float:right;
        }
        .add-account, .signout {
            color: #666;
            display: inline-block;

            background: #f8f8f8;
            box-shadow: 0 0 0 1px #c6c6c6;
            padding: 5px 10px;
        }
        .add-account:hover,
        .signout:hover {
            background: linear-gradient(135deg, #f8f8f8, #f1f1f1);
            /*border: 1px solid #c6c6c6;*/

            box-shadow: inset 0 0 0 1px #c6c6c6, 0px 1px 3px 0px rgba(0,0,0,0.16);
        }

.logo {
    padding-top: 135px;
    width: 272px;
}

.voice-search {
    cursor: pointer;
    width: 41px;
    height: 44px;
    background: url("../img/data-image-png;base….png") no-repeat center;
    background-size: 24px 24px;
    position: absolute;
    right: 1px;
    top: 20px;
}
    .voice-search .caption {
        display: none;
        padding: 8px 5px;
        position: absolute;
        right: -35px;
        top: 40px;
        width: 100px;
        background: #000;
        box-shadow: 0 0 0 1px #fff,
                    0px 1px 3px 2px rgba(0,0,0,0.2);
        color: #fff;
        font-size: .6875em; /* 11px / 16px */
        font-weight: bolder;
    }
        .voice-search .caption::before,
        .voice-search .caption::after {
            bottom: 100%;
            left: 50%;
            content: "";
            display: inline-block;
            border: solid transparent;
            width: 0;
            height: 0;
            position: absolute;

        }
        /* white box arrow outline */
        .voice-search .caption::before {
        	border-bottom-color: #fff;
        	border-width: 7.5px;
        	margin-left: -7.5px;
        }
        /* black box arrow */
        .voice-search .caption::after {
        	border-bottom-color: #000;
        	border-width: 6px;
        	margin-left: -6px;
        }




/* form elements ============================================================*/
.search-area form {
    position: relative;
}
    .search-box {
        box-sizing: border-box;
        border: none;
        border-radius: 2px;
        padding: 13px 10px;
        width: 100%;
        background: #fff;
        box-shadow: 0 2px 2px 0 rgba(0,0,0, .16),
                    0 0 0 1px rgba(0,0,0, 0.08);
        margin: 20px 0 30px 0;
        transition: box-shadow .1s;
    }
    .search-buttons input {
        background: #f1f1f1;
        border: none;
        border-radius: 2px;
        padding: 11px 14px;
    }
        .search-buttons input + input {
            margin-left: 5px;
        }


/* state rules ============================================================*/
.menu .gmail:hover,
.menu .g-imgs:hover {
    border-bottom: 1px solid #000;
}

.menu .g-apps:hover .fa-th {
    color: #000;
}

.menu .bell:hover::before {
    background: #000;
}
.gnotify__settings:hover {
    color: rgba(0,0,0, 0.87);
}

.search-box:hover,
.search-box:focus {
    outline: none;
    box-shadow: 0 3px 6px 0 rgba(0,0,0, .2),
                0 0 0 1px rgba(0,0,0, 0.08);
}

.voice-search:hover p {
    display: block;
}

.search-buttons input:hover {
    color: #000;
    background: linear-gradient(135deg, #f8f8f8, #f1f1f1);
    /*border: 1px solid #c6c6c6;*/
    box-shadow: inset 0 0 0 1px #c6c6c6, 0px 1px 3px 0px rgba(0,0,0,0.16);
}

.site-footer a:hover {
    border-bottom: 1px solid #666;
}


/* theme rules ============================================================*/
.gmail, .g-imgs, .fa-bell, .site-footer,
.search-buttons input {
    font-size: .8125rem; /* 13px / 16px */
}

.gmail, .g-imgs {
    color: #000;
}



.fa-th, .site-footer a {
    color: #666;
}

.search-buttons input {
    font-weight: bold;
    color: #757575;
}


/* cleafix */
.clearfix::after {
    display: table;
    content: "";
    clear: both;

}
