/* =================================
  Base Element Styles
==================================== */

body {
	font: 300 1em/1.5 'Source Sans Pro', sans-serif;
	background: #f5f5f5; /* rgb(245, 245, 245) */
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	color: #646464;  /* rgb(100, 100, 100) */
	margin: 0 0 .5em 0;
}

h4 {
	font-size: .92em;
}

h3 + p,
h4 + p {
	margin-top: 0;
}

header h4:first-child {
	font-size: .92em;
}

p {
	color: #777; /* rgb(119, 119, 119) */
	font-size: .91667em; /* 14.6667px / 16px */
}

header h4 + p {
	font-size: .73rem;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

hr {
	margin: 1.75rem 0;
	border: 1px solid #e5e5e5;

}

footer {
	color: #999; /* rgb(153, 153, 153) */
	font-size: .825em;
	line-height: 2;
	background: #F0F0F0; /* rgb(240, 240, 240) */
	padding: 40px 0;
}



/* =================================
  Base Layout Styles
==================================== */

#page-wrapper {
	background: #f5f5f5;
	position: relative;
	left: 0;
	bottom: 0;


	z-index: 2;
}


/* Nav Sidebar -------------------------------- */

	#nav-sidebar {
		background: #2b2b2b;
		position: fixed;
		width: 100%;
		font-size: .92em;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1;
	}

	.nav-panel > li > a {
		color: #fff;
	}

	.nav-panel a {
		color: #bbb;
	}

	.nav-panel a {
		padding: .75em 0;
		display: block;
		padding-left: 1em;
	}

	.nav-item {
		border-bottom: 1px solid rgba(255,255,255, 0.05);
	}

	/* layouts options */
	.nav-panel > ul > li > a {
		padding-left: 2em;
	}

	/* submenu options */
	.nav-panel > ul > li > ul > li > a {
		padding-left: 3em;
	}


	/* hide nav radio buttons */
	.nav-expand, .nav-collapse {
		position: fixed;
		z-index: 0;
		left: 0;
	}

	/* nav menu icon*/
	label[class="menu-icon"] {
		position: fixed;
		top: 10px;
		left: 10px;
		z-index: 3;
		width: 56px;
		height: 36px;
		background: url(../img/menu-icon.png) no-repeat center, rgba(192,192,192, .75);
		background-size: 15px 15px;
		border-radius: 6px;
		cursor: pointer;
	}

	.nav-expand:checked + label {
		left: 285px;
	}

	.nav-expand:checked ~ #page-wrapper {
		left: 275px;

	}

	/* label for nav-collapse */
	.nav-expand:checked ~ #page-wrapper > .overlay {
		min-width: 100%;
		min-height: 100%;
		left: 0;
		bottom: 0;

		position: absolute;



	}

	.nav-expand + label, #page-wrapper {
		transition: left 0.5s;
	}






/* Header -------------------------------- */

.main-heading {
	background: rgb(68, 68, 68);
	color: #fff;
	padding: .41rem 1rem;
	width: 100%;
	box-sizing: border-box;
	display: none;
	z-index: 1000;

}

.main-heading,
.main-heading h1 {
	/*font-size: 1.09rem;*/
	font-size: .92rem;
}

.main-heading h1 {
	display: inline-block;
	margin: 0;
	color: rgba(255,255,255, .5);
}

.main-heading nav {
	float: right;
	margin-top: 4px;
}



.main-heading h1 {
	padding: 0.5rem 0;
}

.logo,
.main-nav a {
	color: #fff;
}

.sign-up {
	border-radius: 6px;
	box-shadow: inset 0 0 0 2px rgba(255,255,255, .5);
	padding: ;
}

.main-heading .sign-up:hover {
	background: rgba(255,255,255, .1);
	transition: background .5s;
}

/*.main-nav > li > a {
	padding: 0.5rem .75rem;
}*/

.main-nav > li, .main-nav > li > a {
	display: inline-block;

}

.main-nav > li > a {
	padding: 4px 14px;
}

.main-nav > li:nth-child(odd) {
	margin-left: .5rem;
}


.main-nav > li > a {
	/*padding: 0.5rem .75rem;*/
}

.dropdown {
	position: relative;
}

.drop-nav {
	position: absolute;
	right: 0;
	font-size: .92rem;
	border-radius: 6px;
	opacity: 0;
	transition: opacity .4s, visibility .4s;
	visibility: hidden;
	box-shadow: 0 0 3px 0 rgba(0,0,0, 0.2);
	z-index: 3;
}

.spacer {
	visibility: hidden;
	position: absolute;
	padding-top: 26px;
	display: block;
	width: 146.13px;
	right: 0;




}

/* drop-down-menu links */
.drop-nav li a {
	color: #777;
	display: block;
	padding: .25rem 5rem .25rem .5rem;
	background: #fff;
}

.drop-nav li:first-child {
	padding-top: .4rem;
	border-radius: 6px 6px 0 0;
	background: #fff;
}
.drop-nav li:last-child {
	padding-bottom: .4rem;
	border-radius: 0 0 6px 6px;
	box-shadow: 0 2px 0 0 #e5e5e5;
	background: #fff;
}

.drop-nav li:not(:last-child) {
	border-bottom: 1px solid #e5e5e5;
}

.dropdown > a {
	transition: background .4s;
	border-radius: 6px;
}

/* orange/red background for Layouts links */
.drop-nav a:hover {
	background: #e89980;
	color: #fff;
}

/* increase space between .dropdown button and drop-nav */
/*.drop-nav::before {
	content: '';
	display: block;
	position: static;
	width: 97.59px;
	height: 30px;
	pointer-events: none;
	top: 0;

}*/

/* white drop-nav triangle */
.drop-nav li.first::before {
	content: '';
	background: url(../img/triangle.png) no-repeat center;
	background-size: 13px 13px;
	display: inline-block;
	position: absolute;
	height: 13px;
	width: 13px;
	right: 13px;
	top: -10px;
	/*opacity: 0;*/
	pointer-events: none;
	z-index: 5;
}

/* grey drop-nav triangle */
.drop-nav li.first::after {
	content: '';
	background: url(../img/triangle-2.png) no-repeat center;
	background-size: 13px 13px;
	display: inline-block;
	position: absolute;
	height: 13px;
	width: 13px;
	right: 13px;
	top: -12px;
	/*opacity: 0;*/
	pointer-events: none;
	z-index: 2;
}

/* increase space between .dropdown button and drop-nav */
/*.drop-nav::before {
	content: '';
	display: block;
	position: static;
	width: 97.59px;
	height: 20px;
	pointer-events: none;
	top: 0;
	visibility: hidden;
	transition: visibility 5s;
	background: transparent;

}*/

/*.dropdown:hover .spacer .drop-nav > li.first::before {
	opacity: 1;
}*/


/* reveal dropdown menu */
.dropdown:hover > div > .drop-nav {
	visibility: visible;
	opacity: 1;
}


/* grey background on hover */
.dropdown:hover > a {
	background: rgba(255,255,255, .2);
	border-radius: 6px;

}

.dropdown:hover .spacer {
	visibility: visible;
}


.dd-arrow::before {
	content: '';
	background: url(../img/down-arrow-2.png) no-repeat center;
	background-size: 10px 10px;
	display: inline-block;
	margin-right: .5rem;
	vertical-align: middle;
	height: 15px;
	width: 15px;
	top: 1em;
	pointer-events: none;
}



/* Banner -------------------------------- */

#banner {
	background: #666 url('../img/banner.jpg') no-repeat;
	background-size: cover;
	padding: 30px 15px;
}

#banner h2 {
	font-size: 2.0625em; /* 33px / 16px */
	margin: 1rem 0 0 0;
}

#banner p {
	font-size: 1.15em; /* 18.333px / 16px */
	margin-top: .2rem;
}

#banner h2,
#banner p {
	color: #fff;
}

#banner a.trans-border:hover {
	background: rgba(255,255,255, .09);
	transition: background .4s;
}



/* Main Styles -------------------------------- */



.top-heading {
	padding: 30px 0;

}

.top-heading h2 {
	font-size: 1.833em;
	margin: 1.5rem 0 11px 0;
}

.top-heading p {
	display: inline-block;
	margin-top: 0;
	padding-top: 1em;
	border-top: 2px solid #e5e5e5;
}



#main {
	max-width: calc(1040px + 36px);

}

#main h3 {
	font-size: 1.375em; /* 22px / 16px */
}

#main h2 {
	font-size: 1.5625em; /* 25px / 16px */
}

#main section:not([id="cta"]) {
	background: #fff;
}

#heading {
	margin-bottom: 1rem;
}

#heading h2 {
	padding-top: 2.2rem;
	padding-bottom: 1.5rem;
	margin-bottom: 0;
	font-size: 25.5px;

}

#heading p {
	border-top: 2px solid #e5e5e5;
	padding-top: 1.25rem;
	padding-bottom: 18px;
	margin-top: 0;
	font-size: 18px;
}
.full-img-2 {
	margin-bottom: -7px;
}


.full-img, .full-img-2 {
	width: calc(100% + 2em);
	margin-left: -1em;
}

.special-features section:nth-child(n + 2) {
	border-top: 1px solid #e5e5e5;
}

.special-features section {
	padding-top: 2em;
	padding-bottom: calc(2em - 14px);
}

/*.special-features section:last-child {
	padding: bottom: 1em;
}*/

.special-features span {
	display: inline-block;
	border-radius: 48%;
	height: 80px;
	width: 80px;
	margin-bottom: 1.5em;
}

code {
	background: #f8f8f8;
	border-radius: 6px;
	border: 1px solid #e5e5e5;
	padding: 2px 8px;
}

pre {
	border: 1px solid #e5e5e5;
	border-radius: 6px;
	padding: 1em 1.5em;
	background: #f8f8f8;
	font-size: .83em;
	color: #777;
}

blockquote {
	margin-left: 0;
	margin-right: 0;
	padding-left: 25px;
	border-left: 4px solid #e5e5e5; /* rgb(229, 229, 229) */
	font-size: .92em;
	font-style: italic;
	color: #777;
}

.headings header h3,
.headings header h4 {
	margin: 0;
}

.headings header p {
	color: rgb(153, 153, 153);
	font-style: italic;
}

.headings p + header {
	margin-top: 2rem;
}

.headings header + p {
	margin-top: 1rem;
}

.unordered,
.ordered,
.alt-list {
	margin-bottom: 1.75em;
}

.unordered {
	padding-left: 1em;
}

.unordered li {
	list-style: disc outside;
	padding-left: .5em;
}

.ordered {
	margin-top: 0;
	padding-left: 20px;
}

.alt-list li {
	padding: .5em 0;
}

.alt-list li:nth-child(-n + 2) {
	border-bottom: 1px solid #e5e5e5;

}


 #lists li {
	color: #777;
	font-size: .92em;
}

#lists a:not(.small) {
	font-size: .92em;
}

#image {
	margin-bottom: -1em;
	line-height: 1.7;
}

#image img {
	border-radius: 6px;
}

#image p + p {
	margin-top: 2rem;
}

span img {
	width: 100%;
}


.img-gallery {
	margin-bottom: 1.5rem;
}

.section-row > section {
	padding-bottom: 3em;
	margin-top: 1em;
}

#generic {
	box-sizing: border-box;
	padding-bottom: 2.5rem;
}

#generic p {
	line-height: 1.7
}

#generic div {
	padding-bottom: 1em;
}

/* Icons -------------------------------- */

.major-icon {
	width: 33px;
	height: 33px;
	display: inline-block;
	padding-top: 23.5px;
}


.accent1 {
	background: #e89980;
}

.accent2 {
	background: #7fcdb8;
}

.accent3 {
	background: #90b0ba;
}

.accent4 {
	background: #e5cb95;
}

.magnifier::before {
	background-image: url('../img/magnifier.png');
	background-size: 1.1em 1.1em;
	background-repeat: no-repeat;
	display: inline-block;
	content: '';
	height: 1.1em;
	width: 1.1em;
	margin-right: 5px;
	vertical-align: middle;
}

.download::before {
	background-image: url('../img/download.png');
	background-size: 1.1em 1.1em;
	background-repeat: no-repeat;
	display: inline-block;
	content: '';
	height: 1.1em;
	width: 1.1em;
	margin-right: 5px;
	vertical-align: middle;
}

.check::before {
	background-image: url('../img/check.png');
	background-size: 1.1em 1.1em;
	background-repeat: no-repeat;
	display: inline-block;
	content: '';
	height: 1.1em;
	width: 1.1em;
	margin-right: 5px;
	vertical-align: middle;
}

.icons {
	padding: 15px 0 25px 0;
}

.label {
	display: none;
}

.icons li {
	display: inline-block;
	padding: 0 15px 0 0;
}

.icons a {
	display: inline-block;
	width: 23px;
	height: 23px;
	opacity: .5;
	/*transition: .2s;*/
}

.icons a:hover {
	opacity: 1;
}

.icons a.twitter {
	background: url('../img/twitter.png') no-repeat center;
	background-size: 23px 23px;
}

.icons a.facebook {
	background: url('../img/facebook.png') no-repeat;
	background-size: 23px 23px;
}

.icons a.instagram {
	background: url('../img/instagram.png') no-repeat;
	background-size: 23px 23px;
}

.icons a.github {
	background: url('../img/github.png') no-repeat;
	background-size: 23px 23px;
}

.icons a.dribbble {
	background: url('../img/dribbble.png') no-repeat;
	background-size: 23px 23px;
}

.icons a.google-plus {
	background: url('../img/google-plus.png') no-repeat;
	background-size: 23px 23px;
}

.icons a.tumblr {
	background: url('../img/tumblr.png') no-repeat;
	background-size: 23px 23px;
}



/* CTA -------------------------------- */

#cta {
	background: #e89980;
	padding: 30px 1em 30px 1em; /* needs 15px padding on sides */
	/*width: calc(100% + 2em);
	margin-left: -1em;*/
}

#cta form {
	background: none;
	padding-top: .75rem;
	padding-bottom: .75rem;
}

#cta,
#cta h2,
#cta p,
#cta input[type="email"],
#cta input[type="email"]::placeholder {
	color: rgba(255,255,255, 0.7);
}

#cta input[type="email"] {
	background: rgba(255,255,255, 0.15);
	border: none;
}

#cta input[type="email"]:focus {
	box-shadow: inset 0 0 0 2px #fff;
}

#cta button {
	background: #fff;
	color: #e89980;
}



/* Tables-------------------------------- */

table {
	width: 100%;
	margin-bottom: 1.75em;
	font-size: 0.92em;
	color: #777777; /* rgb(119, 119, 119) */
	text-align: left;
}

tbody tr:nth-child(odd) {
	background: #f8f8f8;
}

tbody tr {
	border: solid 1px #e5e5e5;
}

th {
	font-weight: 300;
	font-size: 0.9em;
}

th, td {
	padding: 0.75em;
}

.dflt-table tbody tr {
	border-left: 0;
	border-right: 0;
}

.dflt-table tbody tr:first-child {
	border-top: 2px solid #e5e5e5;
}

.dflt-table tbody tr:last-child {
	border-bottom: 2px solid #e5e5e5;
}

.alt-table tbody td + td {
	border-left: solid 1px #e5e5e5;
}



/* Forms-------------------------------- */

form {
	background: #fff;
	padding: 30px 15px;
}

.form {
	padding: 0;
}

input[type="text"],
input[type="email"],
textarea,
select {
	color: #777777; /* rgb(119, 119, 119) */
	background: #f8f8f8; /* rgb(248, 248, 248) */
	font-size: .91667em; /* 14.6667px / 16px */
	width: 100%;
	margin-bottom: 15px;
	border-radius: 6px;
	border: 1px solid #e5e5e5; /* rgb(229, 229, 229) */
	box-sizing: border-box;
	padding: 12px;
	outline: 0;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
	box-shadow: 0 0 0 3px #e87714;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
}

.select-wrapper {
	position: relative;
}

.select-wrapper::before {
	content: '';
	background: url(../img/down-arrow.png) no-repeat center;
	background-size: 15px 15px;
	display: inline-block;
	height: 15px;
	width: 15px;
	position: absolute;
	right: .75em;
	top: 1em;
	pointer-events: none;
}

form label {
	padding: 8px 11px 8px 38px;
	margin-left: -13px;
	position: relative;
	display: inline-block;
	font-size: .92rem;
	color: #777;
}

input[type="radio"],
input[type="checkbox"] {
	cursor: pointer;
	opacity: 0;
}

/* unchecked radio buttons and checkboxes */
form input[type="radio"] + label::before,
form input[type="checkbox"] + label::before {
	content: '';
	display: inline-block;
	background: #f8f8f8 no-repeat center;
	border: 1px solid #e5e5e5;
	width: 1.6em;
	height: 1.6em;
	vertical-align: middle;
	position: absolute;
	left: -3px;
}

form input[type="radio"] + label::before {
	border-radius: 1em;
}

form input[type="checkbox"] + label::before {
	border-radius: 6px;
}

/* checked radio buttons and checkboxes */
form input[type="radio"]:checked + label::before,
form input[type="checkbox"]:checked + label::before {
	background-color: #666;
	background-image: url('../img/check-white.png');
	background-size: 18px 18px;
	border-color: #666;
}

form input[type="radio"]:focus + label::before,
form input[type="checkbox"]:focus + label::before {
	border-color: #e87714;
	border-width: 2px;
}

button {
	width: 100%;
	border-radius: 6px;
	border: none;
}

button + button {
	margin-top: 15px;
}


/* =================================
  DRY Classes
==================================== */

.center {
	text-align: center;
}

.row {
	padding: 1.25% 0;
}

.row img {
	float: left;
	width: 31.6%;
}

.row img:nth-child(-n + 2) {
	margin-right: 2.5%;
}

.box, .box-2 {
	padding: 0 1rem 0 1rem;
	box-sizing: border-box;
}

.box-2,
#buttons {
	box-sizing: border-box;
	padding-bottom: 1.75em;
	margin-bottom: 1em;
	padding-top: 2.5rem;
}

/* grey dotted links */
a.d-link {
	border-bottom: 1px dotted #999;
	color: #999;
}

/* red dotted links */
a.d-link-r {
	border-bottom: 1px dotted #e89980;
	color: #e89980;
}

.d-link:hover, .d-link-r:hover {
	border: none;
}

.left {
	float: left;
	margin-right: 1em;
}

.right {
	float: right;
	margin-left: 1em;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}


/* Buttons-------------------------------- */

.button {
	display: inline-block;
	cursor: pointer;
	color: #fff;
	border-radius: 6px;
	font-size: .91667em; /* 14.6667px / 16px */
	font-weight: normal;
	width: 100%;
	padding: 12px 0;
	text-align: center;
	/*background: #616161; /* rgb(97, 97, 97)*/
	/*box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);*/
}

/* white button */
.special {
	color: #666;
	background: #fff;
}

/* red button */
.r-special {
	color: #fff;
	background: #e89980;
}

/* no fill button */
.alt {
	color: #777;
	box-shadow: inset 0 0 0 2px #e5e5e5;
	background: #fff;
}

/* black button */
.default {
	background: #616161; /* rgb(97, 97, 97) */
	color: #fff;
}

/* disabled button */
.disabled {
	background: #e2e2e2; /* rgb(245, 245, 245) */
	color: #fff;
}

/* transparent borders */
.trans-border {
	color: #fff;
	box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.small {
	padding: 7px 0;
	font-size: .75em;
}

ul.actions, ul.actions-2 {
	margin-bottom: 1.75em;
	text-align: center;
}

ul.actions li:nth-child(n + 2) {
	padding-top: 14px;
}

ul.actions-2 li:nth-child(n + 2) {
	padding-top: 7px;
}

#buttons ul:nth-child(0n + 3) {
	margin-bottom: 1em;
}

.fit li {
	display: inline-block;
	width: 31.8%;
}

.fit li:nth-child(-n + 2) {
	padding-right: 1.25%;
}

.fit-2 {
	margin-bottom: 1em;
}

.fit-2 li {
	display: inline-block;
	width: calc(92.7% / 3);
}

.fit-2 li:nth-child(-n + 2) {
	padding-right: 2.5%;
}



/* =================================
  Media Queries
==================================== */

@media (min-width: 481px) {


	/* Page Elements-------------------------------- */
	form {
		border-radius: 6px;
	}

	input[id="name"],
	input[id="email"] {
		width: 48%;
	}

	input[id="query"] {
		width: calc(100% - 123px)
	}

	input[name="name"] {
		margin-right: 3%;
	}

	form button.button {
		width: initial;
		padding: 11.5px 1.75em;
	}

	input[id="query"] + button {
		float: right;
	}

	label + textarea {
		margin-top: 8px;
	}

	textarea + button.button {
		margin-right: 10px;
	}

	#cta [type="email"] {
		margin-right: 13px;

	}

	#cta [type="email"] {
		width: 250px

	}

	#cta form {
		padding-left: 0;
		padding-right: 0;

	}
	.button:not(.normal) {
		width: initial;
		padding-left: 2.2em;
		padding-right: 2.2em;
	}

	#buttons ul {
		text-align: left;
	}

	#buttons ul:not(.normal) {
		margin-bottom: 1em;
	}

	#buttons ul.actions li {
		display: inline-block;
	}

	#buttons .actions a:not(.normal) {
		margin-right: 13px;
	}




	/* Layout-------------------------------- */

	.box-2,
	#buttons {
	box-sizing: border-box;
	padding-bottom: 1.5em;
	padding-top: 1.75em;
	}

	.box, .box-2 {
		margin-left: 1rem;
		margin-right: 1rem;
	}


	#banner .actions li {
		display: inline-block;
	}

	#banner .actions li a {
		padding-left: 60px;
		padding-right: 60px;
	}

	#banner .actions li:first-child {
		margin-right: 13px;
	}

	#main > section:not([id="cta"]),
	.section-row > section {
		border-radius: 6px;
		margin-bottom: 1em;
	}

	#heading {
		margin-top: 1em;
	}

	#heading h2,
	#heading p {
		margin-left: 10px;
		margin-right: 10px;
	}


	#contact-form {
		margin: 0 1rem 1rem 1rem;
		box-shadow: 0 2px 0 0 #e5e5e5;
		box-sizing: border-box;
		padding-left: 30px;
		padding-right: 30px;
	}

	#contact-form button {
		display: block;
		margin: auto;
	}

	.box, .box-2 {
		box-shadow: 0 2px 0 0 #e5e5e5;
	}

	.box {
		padding-left: 1.5em;
		padding-right: 1.5em;
	}

	.box-2 {
		padding-left: 1.75em;
		padding-right: 1.75em;
	}

	.box-2:not(:first-child),
	#buttons {
		margin-top: 1.75em;
	}

	[class="box"] {
	border-radius: 6px;
	}

	.full-img, .full-img-2 {
		width: calc(100% + 3em);
		margin-left: -1.5em;
		margin-bottom: 1em;
	}

	.full-img{
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
	}

	.full-img-2 {
		border-radius: 0 0 6px 6px;
		margin-bottom: -6px;
		/*margin-bottom: calc(-1em - 6px);*/
	}

	.section-row section {
		margin-top: 2em;
	}

	#actions ul:nth-child(-n + 4) {
		text-align: left;

	}

	#actions > ul:nth-child(-n + 4) li {
		display: inline-block;
		margin-right: 3px;
	}

	.generic-row div {
		float: left;
		width: 50%;
		box-sizing: border-box;
	}

	.generic-row div:first-child {
		padding-right: 1em;
	}

	.generic-row div:last-child {
		padding-left: 1em;
	}



	/* DRY-------------------------------- */

	.col {
		float: left;
		width: 50%;
	}

	.col-2 {
		float: right;
		width: 50%;
	}

	.col + .col {
		padding-left: 1.75em;
		box-sizing: border-box;
	}

}



@media (min-width: 737px) {

	header.index-page {
		background: transparent;
		position: absolute;
	}

	#main .headings h2 {
		font-size: 2rem;
	}

	#banner h2 {
		font-size: 3.1rem;
	}

	.top-heading h2 {
		font-size: 2.5em;
	}

	.top-heading p {
		font-size: 1.1rem;
	}

	#heading h2 {
		font-size: 2rem;
		margin-left: 4.5rem;
		margin-right: 4.5rem;
		box-sizing: border-box;
	}

	#heading p {
		margin-left: 4rem;
		margin-right: 4rem;
	}

	#main .special-features h3,
	#main .section-row h3 {
		font-size: 1.6rem;
	}


	#main .box-2 h3,
	#buttons h3 {
		font-size: 1.6rem;
	}

	#cta h2 {
		font-size: 2rem;
	}

	.full-img {
		margin-bottom: 2rem;
	}

	.full-img-2 {
		margin-bottom: -7px;
	}

	#generic div h3 {
		font-size: 25.6px;
	}


	/* Layout-------------------------------- */

	#container {
		margin-bottom: 5rem;
	}



	#banner {
		padding-top: 7.5rem;
		padding-bottom: 15rem;
	}

	.overlap {
		margin-top: -10rem;

	}

	#main {
		margin-right: 1.2rem;
		margin-left: 1.2rem;
	}

	#main #heading {
		margin-bottom: 2rem;
	}

	#main .special-features section {
		float: left;
		width: 50%;
		border: none;
		box-sizing: border-box;
		line-height: 1.6;
	}

	#contact-form {
		margin-left: 2rem;
		margin-right: 2rem;
		padding-top: 42px;
		padding-bottom: 40px;
	}

	.special-features {
		padding: 2.5rem 2rem 2rem 2rem;
	}

	/* bottom border */
	#main .special-features section:nth-child(-n + 2) {
		border-bottom: 1px solid #e5e5e5;
		padding-top: 0;
	}

	/* top border */
	#main .special-features section:nth-child(n + 3) {
		border-top: 1px solid #e5e5e5;
		padding-bottom: 0;
		padding-top: 2.5em;
	}

	#main .special-features section:nth-child(n + 3) p {
		margin-bottom: 0;
	}

	/* right border */
	#main .special-features section:nth-child(2n + 1) {
		border-right: 1px solid #e5e5e5;
		padding-right: 2.5rem;
	}

	/* left border */
	#main .special-features section:nth-child(2n + 2) {
		border-left: 1px solid #e5e5e5;
		padding-left: 2.5rem;
	}

	.box-2, #buttons {
		padding-top: 2.5rem;
	}

	footer {
		padding-bottom: 80px;
	}

	.copyright li {
		display: inline-block;
	}

	.copyright li:nth-child(-n + 2) {
		padding-right: .75rem;
		margin-right: .75rem;
		border-right: 1px solid #ddd;
	}

}


@media (min-width: 841px) {


	/* Layout-------------------------------- */

	#nav-expand,
	label[for="nav-trigger"] {
		display: none;
	}

	.main-heading {
		font-size: .92rem;
		padding-top: .5rem;
		display: block;
	}



	header.other-page {
		position: fixed;

	}

	.main-heading h1 {
		font-size: .92rem;
		margin-left: .5rem;
	}

	.logo {
		font-weight: normal;
	}

	.index-page .dd-arrow::before {
		content: '';
		background: url(../img/down-arrow-3.png) no-repeat center;
		background-size: 10px 10px;
		display: inline-block;
		margin-right: .5rem;
		vertical-align: middle;
		pointer-events: none;
	}

	.top-heading {
		padding-top: 80.56px;
	}

	#main {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		margin-left: auto;
		margin-right: auto;
	}

	#heading h2 {
		margin: auto;
		width: 490px;
		padding-top: 4rem;
	}

	#heading p {
		margin: auto;
		width: 570px;
		padding-bottom: 50px;
		padding-top: 1.5rem;
	}

	#contact-form {
		padding-left: 45px;
		padding-right: 45px;
		/*margin-right: 8rem;
		margin-left: 8rem;*/
		margin: auto;
		max-width: 660px;

	}

	.major-heading {
		padding: 0 1.5rem 0 1.5rem;
	}

	.generic-row {
		padding: 0 1.5rem 0 1.5rem;
	}

	.box-2, #buttons {
		padding-left: 2.7rem;
		padding-right: 2.7rem;
	}

	.section-row {
		margin-left: 1em;
		margin-right: 1em;
	}

	#main .section-row section {
		float: left;
		width: 48%;
		margin-right: 0;
		margin-left: 0;


	}

	#main .section-row section:last-child {
		float: right;
		width: 48%;
		margin-left: 0;
	}

	#actions .clearfix {
		width: 50%;
		display: inline-block;
		float: left;
	}

	#actions ul:nth-child(n + 4) {
		width: 25%;
		display: inline-block;
	}

	#actions .clearfix .actions-2 {
		padding-left: 0;
	}

	/* radio and checkbox buttons */
	#form-controls {
		width: 100%;
		padding-bottom: 10px;
	}
	.row-1, .row-2 {
		display: block;
	}
	.row-1 > div,
	.row-2 > div {
		display: inline-block;
	}
	.row-1 div {
		width: 33%;
	}
	.row-2 div {
		width: 48%;
	}

}



@media (min-width: 1280px) {

	.main-heading, .main-heading h1 {
		font-size: 1.09rem;
	}

	.drop-nav {
		font-size: .98em;
	}

	.spacer {
		padding-top: 28px;
	}

	/*.drop-nav::before {
	content: '';
	background: url(../img/triangle.png) no-repeat center;
	background-size: 13px 13px;
	display: inline-block;
	position: absolute;
	height: 13px;
	width: 13px;
	right: 13px;
	top: 22px;
	}*/

	#main .headings h2 {
		font-size: 2.5rem; /* 40px */
	}

	#main .box-2 h3, #buttons {
		font-size: 1.9rem; /* 30.4px */
	}

	h4 {
		font-size: 1.2rem; /* 19.2px */
	}

	h5 {
		font-size: .98rem; /* 15.68px */
	}

	h6 {
		font-size: .8rem; /* 12.8px */
	}
	p {
		font-size: 1.09rem; /* 17.44px */
	}


	#banner {
		padding-bottom: 22rem;
	}

	#banner h2 {
		font-size: 3.75rem;

		padding-top: 1.75rem;
		padding-bottom: 1rem;
	}

	#banner p {
		font-size: 1.35rem;
	}

	.top-heading h2 {
		font-size: 3rem;
	}

	.top-heading p {
		font-size: 1.35rem; /* 21.6 px */
	}

	header h4:first-child {
		font-size: 1.2rem;
	}

	header h4 + p {
		font-size: .85rem; /* 13.6px */
	}

	blockquote {
		font-size: 1.09rem;
		margin-bottom: 2rem;
	}

	pre {
		font-size: .98rem;
	}

	footer {
		font-size: .98rem;
	}

	#actions > ul:nth-child(-n + 4) li {
		margin-right: 18px;
	}

	#actions > ul:nth-child(3) li {
		margin-right: 8px
	}

	#lists li {
		font-size: 1.09rem; /* 17.44px */
	}

	#lists a:not(.small) {
		font-size: 1.09rem;
	}

	.icons a {
		width: 27px;
		height: 27px;
	}

	.icons a.twitter,
	.icons a.facebook,
	.icons a.instagram,
	.icons a.github,
	.icons a.dribbble,
	.icons a.tumblr {
		background-size: 27px 27px;
	}

	.button {
		font-size: 1.09rem;
	}

	.big {
		font-size: 1.35rem;
	}

	.small {
		font-size: .85rem;
	}


	/* Table-------------------------------- */

	table {
		font-size: 1.09rem;
	}

	th {
		font-size: .98rem;
	}



	/* Form-------------------------------- */

	input[type="text"],
	input[type="email"],
	textarea, select, form label {
		font-size: 1.09rem;
	}

	input[id="query"] {
		width: calc(100% - 238px);
	}

	#form form .lg-btn {
		width: 221px;
	}


	/* Layout-------------------------------- */

	.top-heading {
		padding-bottom: 60px;
	}

	.overlap {
		margin-top: -16rem;
	}

	#contact-form  {
		max-width: 780px;
		margin-bottom: 110px;
	}
}
